@{
    ViewData["Title"] = "Submit Record";
}
@model Burialmain

<h1>Input information into a record</h1>
<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group row">
            <label asp-for="Squarenorthsouth" class="col-sm-2 col-form-label">Squarenorthsouth:</label>
            <div class="col-sm-4">
                <input asp-for="Squarenorthsouth" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Headdirection" class="col-sm-2 col-form-label">Headdirection:</label>
            <div class="col-sm-4">
                <select asp-for="Headdirection" class="form-control">
                    <option value="">--Select--</option>
                    <option value="W">West</option>
                    <option value="E">East</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Sex" class="col-sm-2 col-form-label">Sex:</label>
            <div class="col-sm-4">
                <select asp-for="Sex" class="form-control">
                    <option value="">--Select--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Northsouth" class="col-sm-2 col-form-label">Northsouth:</label>
            <div class="col-sm-4">
                <input asp-for="Northsouth" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Depth" class="col-sm-2 col-form-label">Depth:</label>
            <div class="col-sm-4">
                <input asp-for="Depth" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Eastwest" class="col-sm-2 col-form-label">Eastwest:</label>
            <div class="col-sm-4">
                <input asp-for="Eastwest" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Southtohead" class="col-sm-2 col-form-label">Southtohead:</label>
            <div class="col-sm-4">
                <input asp-for="Southtohead" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Preservation" class="col-sm-2 col-form-label">Preservation:</label>
            <div class="col-sm-4">
                <select asp-for="Preservation" class="form-control">
                    <option value="">--Select--</option>
                    <option value="Skeleton">Skeleton</option>
                    <option value="Well preserved">Well preserved</option>
                    <option value="Wrapped">Wrapped</option>
                    <option value="Badly preserved">Badly preserved</option>
                    <option value="Poorly preserved">Poorly preserved</option>
                    <option value="Deteriorated">Deteriorated</option>
                    <option value="">Unknown</option>
                </select>
            </div>

        </div>

        <div class="form-group row">
            <label asp-for="Text" class="col-sm-2 col-form-label">Text:</label>
            <div class="col-sm-4">
                <input asp-for="Text" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Wrapping" class="col-sm-2 col-form-label">Wrapping:</label>
            <div class="col-sm-4">
                <input asp-for="Wrapping" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Westtohead" class="col-sm-2 col-form-label">Westtohead:</label>
            <div class="col-sm-4">
                <input asp-for="Westtohead" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Area" class="col-sm-2 col-form-label">Area:</label>
            <div class="col-sm-4">
                <input asp-for="Area" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Length" class="col-sm-2 col-form-label">Length:</label>
            <div class="col-sm-4">
                <input asp-for="Length" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Burialnumber" class="col-sm-2 col-form-label">Burialnumber:</label>
            <div class="col-sm-4">
                <input asp-for="Burialnumber" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Westtofeet" class="col-sm-2 col-form-label">Westtofeet:</label>
            <div class="col-sm-4">
                <input asp-for="Westtofeet" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Ageatdeath" class="col-sm-2 col-form-label">Ageatdeath:</label>
            <div class="col-sm-4">
                <select asp-for="Ageatdeath" class="form-control">
                    <option value="">--Select--</option>
                    <option value="N">Newborn</option>
                    <option value="IN">Infant</option>
                    <option value="C">Child</option>
                    <option value="A">Adult</option>
                    <option value="">Unknown</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Southtofeet" class="col-sm-2 col-form-label">Southtofeet:</label>
            <div class="col-sm-4">
                <input asp-for="Southtofeet" class="form-control">
            </div>
        </div>
        <br />
        <p class="alert alert-warning">
            Leaving a value as "--Select--" will leave the value blank
        </p>

        <button type="submit" class="btn btn-primary">Submit Record</button>
    </form>
</div>