@{
    ViewData["Title"] = "Analysis Page";
}

<div class="text-center">
    <h1>Analysis Page</h1>
    <br />
    <a class="card__link card__link--2 btn-primary" style="color: white; background-color: #814141" asp-area="" asp-controller="Home" asp-action="Supervised">Click here to view the Supervised Analysis</a>
    <a class="card__link card__link--2 btn-primary" style="color: white; background-color: #D2B48C" asp-area="" asp-controller="Home" asp-action="UnsupervisedAnalysis">Click here to view the Unsupervised Analysis</a>
</div>
