@{
    ViewData["Title"] = "Analysis Page";
}

<div class="text-center">
    <h1>Analysis Page</h1>
    <br />
    <h4><a asp-area="" asp-controller="Home" asp-action="Supervised">Click here to view the Supervised Analysis</a></h4>
    <h4><a asp-area="" asp-controller="Home" asp-action="UnsupervisedAnalysis">Click here to view the Unsupervised Analysis</a></h4>
</div>