
@model BurialSummaryViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- filter form side menu -->
            <form id="filter-form" action="@Url.Action("Burials")">
                <h4>Filter Burials</h4>

                <label for="sex">Sex:</label>
                <select id="sex" name="sex">
                    <option value="">--Select--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <br />
                <label for="hairColor">Hair Color:</label>
                <select id="hairColor" name="hairColor">
                    <option value="">--Select--</option>
                    <option value="B">Brown</option>
                    <option value="R">Red</option>
                    <option value="K">Black</option>
                    <option value="A">Brown/Red</option>
                    <option value="D">Blonde</option>
                    <option value="">Unknown</option>
                </select><br />

                <label for="ageAtDeath">Age at Death:</label>
                <select id="ageAtDeath" name="ageAtDeath">
                    <option value="">--Select--</option>
                    <option value="N">Newborn</option>
                    <option value="IN">Infant</option>
                    <option value="C">Child</option>
                    <option value="A">Adult</option>
                    <option value="">Unknown</option>
                </select><br />

                <label for="headDirection">Head Direction:</label>
                <select id="headDirection" name="headDirection">
                    <option value="">--Select--</option>
                    <option value="W">West</option>
                    <option value="E">East</option>
                </select><br />

                <label for="textileColor">Textile Color:</label>
                <input type="text" id="textileColor" name="textileColor">
                <br />
                <label for="textileStructure">Textile Structure:</label>
                <input type="text" id="textileStructure" name="textileStructure">
                <br />
                <label for="burialDepth">Burial Depth:</label>
                <input type="text" id="burialDepth" name="burialDepth">
                <br />
                <label for="estimated-stature">Estimated Stature:</label>
                <input type="text" id="estimatedStature" name="estimatedStature">
                <br />
                <label for="burialId">Burial ID:</label> <br />
                <input type="text" id="burialId" name="burialId">
                <br />
                <label for="textileFunction">Textile Function:</label>
                <input type="text" id="textileFunction" name="textileFunction">


                <br /><br />
                <button type="submit">Filter</button>
            </form>
        </div>
        <div class="col-md-9">
            <!-- burial summary list -->
            @foreach (Burialmain p in Model.Burials)
            {
                <partial name="BurialSummary" model="p" />
            }
        </div>
    </div>
</div>

<div page-model="@Model.PageInfo" page-action="Burials" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
