@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
    <div class="text-center">
        <h1>All Wrapped Up</h1>
    </div>
    
    <div class="col-md align-self-auto">
        <img class="mx-auto d-block" style="height:250px; width:500px" src="~/img/ancient-egypt-mummy.jpg" />
    </div>

    <br />
    <div class=" col-sm text-center">
        <h3>Fag el Gamous</h3>
        <p>
            Fag el Gamous is a an ancient Egyptian necropolis located in the southern part of the country. It is known
            for its extensive burial grounds dating back to the Roman period.
        </p>
        <p>
            For over 25 years, we have been investigating this renowned site of ancient history. We have unveiled
            some incredible discoveries and have gained unique insights into history throughout our excavation work.
            By recording and analyzing all of our discoveries, we have acquired a substantial amount of data regarding
            the burials that took place here.
        </p>
        <p>
            We have used this data to train a predictive model that will allow us to predict several features of mummies based
            on partial data. These features range from biological features such as sex and stature, all the way to features
            that give us more insight to the cultural practices of that time like the direction the head is facing when buried.
        </p>
    </div>
    <div class="card-box">
        <div class="card card--left">
            <h2 class="card__header">MUMMY INFORMATION</h2>
            <p class="card__text">
                Interested in learning about the mummies we have uncovered over the years? Click here to see our burial records.
            </p>
            <a class="card__link card__link--2" asp-area="" asp-controller="Home" asp-action="Burials">Burials</a>
        </div>

        <div class="card card--middle">
            <h2 class="card__header">SUPERVISED MODEL</h2>
            <p class="card__text">
                Want to predict the head direction of a buried mummy? Check out our supervised
                model to predict if a mummy's head is facing East or West.
            </p>

            <a class="card__link card__link--2" asp-area="" asp-controller="Home" asp-action="Supervised">Supervised</a>

        </div>
        <div class="card card--right">
            <h2 class="card__header">UNSUPERVISED MODEL</h2>
            <p class="card__text">
                Curious about other insights we have gathered? View our cluster analysis results and visualizations here.
            </p>

            <a class="card__link card__link--2" asp-area="" asp-controller="Home" asp-action="UnsupervisedAnalysis">Unsupervised</a>
        </div>
    </div>
</body>