@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Intex 2: Mummy Time</h1>
    <p><a asp-area="" asp-controller="Home" asp-action="Burials">Read about our discoveries here!</a></p>
</div>
