@{
    ViewData["Title"] = "Unsupervised Analysis";
}

<div>
    <h1 class="text-center">Unsupervised Analysis Results</h1>
</div>
<br />
<br />
<div class="container row">
    <div class="col-4">
        <p class="text-center">Display of Thickness, Depth, and Count in three clusters</p>
        <img src="~/img/Thickness-Depth-Count.png" width="300"/>
    </div>
    <div class="col-4">
        <p class="text-center">Display of Material, Depth, and Adult in three clusters</p>
        <img src="~/img/Material-Depth-Adult.png" width="300" />
    </div>
    <div class="col-4">
        <p class="text-center">Display of Squarenorthsouth, Depth, and Southtohead in six clusters</p>
        <img src="~/img/south-depth-old-df.png" width="350" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        <p class="text-center">Display of Depth and Angle with a show of denisty</p>
        <img src="~/img/anglemap.png" width="450" />
    </div>
    <div class="col-6">
        <p class="text-center">Display of Depth and Count with a show of denisty</p>
        <img src="~/img/countmap.png" width="450" />
    </div>
</div>