@import"https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap";
@import"https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap";



*, *::before, *::after {
    padding: 0;
    margin: 0
}

html {
    font-size: 62.5%;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: hsl(0, 0%, 95%);
    font-weight: 400;
    font-size: 1.5rem;
    font-family: "Lexend Deca";
}

.card-box {
    height: 50rem;
    width: 92rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 5rem
}

.card--left {
    background-color: #D2B48C;
    border-radius: 1rem 0 0 1rem
}

.card--middle {
    background-color: #814141
}

.card--right {
    background-color: #967969
}

.card__icon {
    height: 4.25rem
}

.card__header {
    margin: 3rem 0;
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 4rem
}

.card__text {
    line-height: 2.5rem;
    color: hsla(0, 0%, 100%, 0.75)
}

.card__link:link, .card__link:visited {
    margin-top: auto;
    padding: 2rem 4rem;
    border-radius: 5rem;
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    outline: 3px solid transparent
}

.card__link:hover, .card__link:focus {
    background-color: inherit;
    outline: 2px solid hsl(0, 0%, 95%)
}

.card__link--1:link, .card__link--1:visited {
    color: hsl(31, 77%, 52%)
}

.card__link--2:link, .card__link--2:visited {
    color: hsl(184, 100%, 22%)
}

.card__link--3:link, .card__link--3:visited {
    color: hsl(179, 100%, 13%)
}

.card__link--1:hover, .card__link--1:focus, .card__link--2:hover, .card__link--2:focus, .card__link--3:hover, .card__link--3:focus {
    color: hsl(0, 0%, 95%)
}
